html
    head
        title= title
        style
            include ./assets/styles.css
    body
        h1= tinder
        button#tinderlike= like
        button#tindermessage= message

        script
              include ./assets/index.js